@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

video {
    background-color: rgb(30, 30, 30);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#validation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    color: lightgray;
    text-align: center;
}

div#validation > h1, div#validation > p {
    font-family: 'Urbanist', sans-serif;
}

div#validation > h1 {
    font-size: 6em;
    font-weight: 50;
}

div#validation > p {
    font-size: 2em;
    padding: 20px;
}

div#validation > input {
    background-color: rgba(211, 211, 211, 0.521);
    border: none;
    margin: auto;
    border-radius: 20px;
    height: 40px;
    width: 300px;
    outline: none;
    text-align: center;
}

div#validation > input::placeholder {
    color: rgba(255, 255, 255, 0.753);
    padding: 20px;
    text-align: center;
}

div#validation > input::-ms-value {
    color: red;
}

span#errorText {
    display: block;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    font-weight: bolder;
    text-shadow: 1px 1px 4px #000000a8;
}

/* ADICIONAR CONTEUDOS */

div#home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: rgb(255, 253, 253);
    text-align: center;
    background-color: rgba(211, 211, 211, 0.048);
    padding: 50px 30px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 3px 4px 17px 0px #000000bf;
}

div#home > input {
    display: block;
}

input#foto, input#descricao {
    background-color: rgba(255, 255, 255, 0.103);
    margin: 15px auto;
    padding: 8px 15px;
    border: .5px solid rgb(107, 107, 107);
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 0px 0px #fff;
    transition: 1s;
}

input#foto:hover, input#descricao:hover {
    box-shadow: 9px 9px 0px 0px #fff;
}

input#descricao {
    outline: none;
    font-size: 1em;
    
}

input#descricao::placeholder {
    color: white;
    text-align: center;
    font-size: 1.1em;
}

button#postar {
    border: none;
    background-color: rgba(211, 211, 211, 0.13);
    padding: 10px 30px;
    border-radius: 7px;
    border: .1px solid lightgrey;
    color: white;
    transition: 1s;
    cursor: pointer;
}

button#postar:hover {
    background-color: rgba(224, 223, 223, 0.808);
    color: rgb(43, 43, 43);
}

button#postar:disabled {
    /* text-decoration: line-through; */
    border: none;
    box-shadow: inset 0px 0px 20px 2px red;
    cursor: default;
}

button#postar:disabled:hover {
    background-color: rgba(211, 211, 211, 0.13);
    color: whitesmoke;
}