@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Baloo+2:wght@400;500;600;700;800&family=Fredoka+One&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Nanum+Brush+Script&family=Patrick+Hand&display=swap');

:root {
    /* Fontes */
    --F_escritaManual: 'Patrick Hand', cursive;
    --F_escritaManual2: 'Nanum Brush Script', cursive;
    --F_fonteGrossa: 'Fredoka One', cursive;
    --F_fonteNormal: 'Baloo 2', cursive;
    --F_fonteFina: 'Alumni Sans Pinstripe', sans-serif;
    --F_fonteArredondada: 'M PLUS Rounded 1c', sans-serif;

    /* Cores */
    --C_preto: #000000;

    --C_cinza1: #141414;
    --C_cinza2: #1B1B1B;
    --C_cinza3: #838182;
    --C_cinza4: #606060;

    --C_branco1: #fff;
    --C_branco2: #F3F3F3;
    --C_branco3: #E1E1E1;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: var(--C_cinza2);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

div[validation] {
    /* border: 1px solid black; */
    position: absolute;
    background: url('../images/background.mp4');
    text-align: center;
    width: auto;
    margin: auto;
    margin-top: 15vw;
    color: white;
    font-family: var(--F_fonteNormal);
}


input#code {
    display: block;
    margin: auto;
    border: none;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 30px;
    border-radius: 20px;
}

destaque {
    color: rgb(23, 189, 23);
    font-size: 3em;
}

error {
    color: red;
}

div[home] {
    width: 90vw;
    background-color: var(--C_branco3);
    margin: auto;
    margin-bottom: 2vw;
    padding: 20px;
}

div[home] h1 {
    text-align: center;
    font-family: var(--F_fonteArredondada);
}

z {
    position: absolute;
    top: 9999999999999999px;
}

@media (max-width: 300px) {
    input#code {
        position: relative;
        width: 60%;
    }
}